html, body {
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected controls in Chrome and Safari */
* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

p {
    line-height: 26px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#hints p {
    line-height: 22px;
    font-size: 13px;
}

a {
    color: #4ba3d9;
}

.hidden {
    display: none;
}

.appname {
    font-size: 22px;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 40px;
}

#header {
    float: left;
}

#login {
    float: right;
    padding-top: 4px;
}

#login a {
    color: #3b5998;
}

#routines_wrapper {
    padding: 50px 0;
    font-size: 20px;
}

#routines {
    padding: 25px 0;
}

#magic_number {
    padding: 25px 0;
    line-height: 18px;
    font-size: 18px;
    color: #c0c0c0;
}

#days_without_fail {
    float: left;
    color: white;
    background-color: #c0c0c0;
    padding: 7px 12px 5px;
    border-radius: 5px;
    margin-right: 6px;
    font-size: 25px;
    line-height: 25px;
    height: 25px;
}

.routine {
    padding: 10px 40px 10px 40px;
    position: relative;
}

.state {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    top: 7px;
    left: 0px;
}

.name {
    line-height: 24px;
}

.days {
    position: absolute;
    top: 10px;
    right: -2px;
}

.skip {
    font-size: 22px;
    color: #4ba3d9;
    cursor: pointer;
}

#new {
    padding-left: 2px;
}

#new_routine {
    font-size: 20px;
    padding: 0 10px;
}

#new_routine input, textarea {
    padding: 4px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid silver;
    font-family: Arial,sans-serif;
}

#buttons {
    padding: 30px 0;
}

.button {
    text-align: center;
    float: left;
    color: white;
    padding: 8px 15px;
}

#cancel {
    background-color: #8d8d8d;
    display: block;
    width: 60px;
    margin-right: 15px;
}

#save {
    width: 60px;
    background-color: #67c013;
    cursor: pointer;
}

#delete {
    background-color: #ed0000;
    float: right;
    cursor: pointer;
}

/* mobile devices */
@media screen and (max-width: 900px) {
    #container {
        padding: 0 15px;
    }
}